<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.adafruit.bluefruit.le.connect" >

    <uses-feature
        android:name="android.hardware.bluetooth_le"
        android:required="true" />

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <!-- Wifi permissions are only needed if the app needs to turn off wifi to improve ble connections -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name=".app.MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="fullUser" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".app.MainHelpActivity"
            android:label="@string/title_activity_mainhelp"
            android:parentActivityName=".app.MainActivity"
            android:screenOrientation="fullUser" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.adafruit.bluefruit.le.connect.app.MainActivity" />
        </activity>
        <activity
            android:name=".app.InfoActivity"
            android:label="@string/title_activity_info"
            android:parentActivityName=".app.MainActivity"
            android:screenOrientation="fullUser" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.adafruit.bluefruit.le.connect.app.MainActivity" />
        </activity>
        <activity
            android:name=".app.CommonHelpActivity"
            android:parentActivityName=".app.InfoActivity"
            android:screenOrientation="fullUser" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.adafruit.bluefruit.le.connect.app.InfoActivity" />
        </activity>
        <activity
            android:name=".app.UartActivity"
            android:label="@string/title_activity_uart"
            android:screenOrientation="fullUser"
            android:windowSoftInputMode="adjustResize" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.adafruit.bluefruit.le.connect.app.MainActivity" />
        </activity>
        <activity
            android:name=".app.PinIOActivity"
            android:label="@string/title_activity_pin_io"
            android:screenOrientation="fullUser" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.adafruit.bluefruit.le.connect.app.MainActivity" />
        </activity>
        <activity
            android:name=".app.ControllerActivity"
            android:label="@string/title_activity_controller"
            android:parentActivityName=".app.MainActivity"
            android:screenOrientation="fullUser" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.adafruit.bluefruit.le.connect.app.MainActivity" />
        </activity>
        <activity
            android:name=".app.PadActivity"
            android:label="@string/title_activity_pad"
            android:screenOrientation="fullUser" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.adafruit.bluefruit.le.connect.app.MainActivity" />
        </activity>
        <activity
            android:name=".app.settings.SettingsActivity"
            android:label="@string/title_activity_settings"
            android:parentActivityName=".app.MainActivity"
            android:screenOrientation="fullUser" />
        <activity
            android:name=".app.update.NotificationActivity"
            android:label="@string/dfu_feature_title" />

        <service android:name=".app.update.DfuService" />

        <activity
            android:name=".app.settings.ConnectedSettingsActivity"
            android:label="@string/title_activity_connected_settings" >
        </activity>
    </application>

</manifest>
